/* селектор {                    сисс правило
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */

* { /* Звёздочка - это селектор всего. т.е правило ко всему */
    box-sizing: border-box; /* Чтобы задать точный размер блока (ширина+высота) */
}
h2 {
    color: red;
    text-align: center; /* Переместить текст (например в центр) */
    font-weight:900; /* Жирность текста */
    font-style: italic; /* Стиль текста (например курсив) */
    text-decoration: underline; /* Можно подчеркнуть или зачеркнуть текст */
    font-size: 20px; /* Размер текста (пока только в пикселях) */
}

.charter {
    color:blue;
}

#begin {
    color:orange;
}

.text {
    font-style: italic;
    text-transform: uppercase; /* Сделать все буквы большими */
}

.box {
    position: relative;
    display: inline-block;
    vertical-align: top; /* Выравнивание блоков. Применяется только! к строчно-блочным элементам. */
    width: 300px; /* Ширина */
    height: 300px; /* Высота */
    background-color: green; /* Цвет блока */
    padding: 20px; /* Отступ текста внутри блока от всех крайов блока*/
    /* padding: 20px 30px 40px 35px; Отступ сверху, справа, снизу и слева */
    border-width: 3px; /* ширина границы блока */
    border-style: solid; /* Сплошная непрерывная линия границы блока */
    border-color: blue; 
   /*  border: 3px solid blue; всё можно прописать вот так, а не как 3 строки выше */
   margin: 20px; /* Отступ снаружи от блока */
   z-index: 5; /* Позиционирование элемента по оси зет. На первое место будет выходить элемент, у которого индекс будет выше. НО! если у элемента стоит позишен абсолют, то он всегда будет на певром месте, если не установить ему отрицательное значение.*/
}
img {
    display: block;
    width: 300px;
    margin: 0 auto; /* Выравнивание картинки по центру по горизонту */
    /* float: left; Обтекание текста по правой стороне. Больше практически не используется */
}

/* Блочные элементы - каркас страницы. Занимают всю ширину страницы.*/
/* Строчные элементы, например ссылка или картинка. Занимают ровно столько места, сколько контента в нём есть. */
/* Блочно-строчные элементы. Всё как у блоков, только они не занимают всю ширину, а ведут себя как строчные элементы.*/ 

nav {
    /* position: static; Чтобы на странице всё отображалось по порядку, как в верстке.  */
    /* position: relative; Можем менять расположение элемента по всей странице */
    /* position: absolute; Определённый элемент становится абсолютным. И на странице он будет отображаться не как в версте, по порядку, а именно там, где мы укажем. */
    /* position: fixed; При скроллинге, элемент будет преклеен к месту, которое мы ему задали*/
    /* position: inherit; Наследуем свойство от родителя */
    position: inherit; /* Можно располагать элмент, как хотим.*/
    left: 30px; /* Сдвинуть вправо от левого края */
    /* top: 30px; Сдвинуть вниз */
    bottom: 0px; /* Сдвинуть вверх */
}

.example{
background-color: grey;
position: relative;
height: 300px;
}

.red{
background-color:red;
position: absolute;
right: 100px;
z-index: 6;
}

.card{
position: relative;
}


/* ВАЖНО! ПОЗИШЕН АБСОЛЮТ, БУДЕТ РАБОТАТЬ ТОЛЬКО, ЕСЛИ В РОДИТЕЛЬСКОМ БЛОКЕ БУДЕТ СТОЯТЬ ПОЗИШЕН РЕЛЕТИВ. ИЗНАЧАЛЬНО РОДИТЕЛЬСКОЕ ТЕЛО - БОДИ. ЕСЛИ СОЗДАТЬ НОВЫЙ БЛОК И СДЕЛАТЬ ЕГО РОДИТЕЛЬСКИМ, ТО НУЖНО ОБЯЗАТЕЛЬНО ДОБАВИТЬ ТУДА ПОЗИШЕН РЕЛЕТИВ, ИНАЧЕ ОН БУДЕТ БРАТЬСЯ ИЗ БОДИ. */